<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home | BrittVille - Bootstrap HTML5 Real Estate Website Template</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css">

    <!-- Range Slider -->
    <link rel="stylesheet" type="text/css" href="assets/css/ion.rangeSlider.css">
    <!-- Range Slider  -->
    <link rel="stylesheet" type="text/css" href="assets/css/ion.rangeSlider.skinFlat.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Start Top Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-9 col-xs-12">
              <!-- Start Contact Info -->
              <ul class="links clearfix">
                <li><i class="lni-phone-handset"></i>1-800-555-1234</li>
                <li><i class="lni-envelope"></i> info@example.com</li>
                <li><a href="#"><i class="lni-map-marker"></i> York Blvd, Los Angeles, US</a></li>
              </ul>
              <!-- End Contact Info -->
            </div>
            <div class="col-lg-5 col-md-3 col-xs-12">
              <div class="header-top-right float-right">
                <a href="login.html" class="header-top-button">Log In</a>
                <a href="signup.html" class="header-top-button white-bg">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Bar -->

      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white"  data-toggle="sticky-onscroll">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="lin-menu"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt=""></a>
          </div>

          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-center">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Home <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="index.html">Home V1</a>
                  <a class="dropdown-item" href="index-2.html">Home V2</a>
                  <a class="dropdown-item" href="index-3.html">Home V3</a>
                </div>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Listing <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="listing.html">Simple Listing</a>
                  <a class="dropdown-item" href="grid-listing.html">Grid Listing</a>
                  <a class="dropdown-item active" href="listing-map.html">List with Google Map</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Property <i class="fa fa-angle-down"></i>
                </a>
                 <div class="dropdown-menu">
                  <a class="dropdown-item" href="property.html">Default- Variation</a>
                  <a class="dropdown-item" href="single-property.html">Single Property</a>
                  <a class="dropdown-item" href="full-gallery.html">Full Width Gallery</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gallery <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="portfolio-2.html">2 Columns Gallery</a>
                  <a class="dropdown-item" href="portfolio-3.html">3 Columns Gallery</a>
                  <a class="dropdown-item" href="portfolio-4.html">4 Columns Gallery</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pages <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="about.html">About Us</a>
                  <a class="dropdown-item" href="agents.html">Agents</a>
                  <a class="dropdown-item" href="rent.html">For Rent</a>
                  <a class="dropdown-item" href="sale.html">For Sale</a>
                  <a class="dropdown-item" href="pricing.html">Pricing Tables</a>
                  <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                  <a class="dropdown-item" href="submit-property.html">Submission Form</a>
                  <a class="dropdown-item" href="faq.html">FAQ</a>
                  <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                  <a class="dropdown-item" href="typography.html">Typography</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blog <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="blog.html">Blog Page</a>
                  <a class="dropdown-item" href="blog-details.html">Blog Single Page</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">
                  Contact Us
                </a>
              </li>
            </ul>
            <div class="search-add float-right">
              <form method="post">
                <div class="form-group">
                    <input type="search" name="field-name" value="" placeholder="Search Here" required="">
                    <button type="submit" class="search-btn"><span class="lni-search"></span></button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu">
          <li>
            <a href="index.html">
            Home
            </a>
            <ul class="dropdown">
              <li>
                <a href="index.html">
                  Home V1
                </a>
              </li>  
              <li>
                <a href="index-2.html">
                  Home V2
                </a>
              </li>   
              <li>
                <a href="index-3.html">
                  Home V3
                </a>
              </li> 
            </ul>
          </li>
          <li>
            <a class="active" href="#">
              Listing
            </a>
            <ul class="dropdown">
              <li><a href="listing.html">Simple Listing</a></li>
              <li><a href="grid-listing.html">Grid Listing</a></li>
              <li><a class="active" href="listing-map.html">List with Google Map</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Property</a>
             <ul class="dropdown">
              <li><a href="property.html">Default- Variation</a></li>
              <li><a href="single-property.html">Single Property</a></li>
              <li><a href="full-gallery.html">Full Width Gallery</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              Gallery
            </a>
            <ul class="dropdown">
              <li><a href="portfolio-2.html">2 Columns Gallery</a></li>
              <li><a href="portfolio-3.html">3 Columns Gallery</a></li>
              <li><a href="portfolio-4.html">4 Columns Gallery</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Pages</a>
            <ul class="dropdown">
              <li><a href="about.html">About Us</a></li>
              <li><a href="agents.html">Agents</a></li>
              <li><a href="rent.html">For Rent</a></li>
              <li><a href="sale.html">For Sale</a></li>
              <li><a href="pricing.html">Pricing Tables</a></li>
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="submit-property.html">Submission Form</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="testimonials.html">Testimonials</a></li>
              <li><a href="typography.html">Typography</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Blog</a>
            <ul class="dropdown">
              <li><a href="blog.html">Blog Page</a></li>
              <li><a href="blog-details.html">Blog Single Page</a></li>
            </ul>
          </li>
          <li>
            <a href="contact.html">
            Contact Us
            </a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->
    </header>
    <!-- Header Area wrapper End -->

    <!-- Map Section Start -->
    <section id="google-map-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div id="conatiner-map"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section End -->

    <!-- Main container Start -->
    <div class="main-container section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-xs-12">
            <!-- Product Filter Start -->
            <div class="product-filter">
              <!-- Sort by -->
              <div class="sort-by">
                <span>Sort by:</span>
                <div class="sort-by-select">
                  <select class="classic">
                    <option>Default Order</option>  
                    <option>Price Low to High</option>
                    <option>Price High to Low</option>
                    <option>Newest Properties</option>
                    <option>Oldest Properties</option>
                  </select>
                </div>
              </div>
              <!-- Layout Switcher -->
              <div class="layout-switcher">
                <a href="#" class="list active">
                  <i class="lni-menu"></i>
                </a>
                <a href="#" class="grid">
                  <i class="lni-grid"></i>
                </a>
              </div>
              <p class="text-left">42 homes found</p>
            </div>
            <!-- Product Filter End -->

            <!-- Listings Star -->
            <div class="listing-container list-layout">
              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                      <div class="adderess"><i class="lni-map-marker"></i> Drive Street, Los Angeles, US</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,500</span>
                        </div>
                       <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                      </div>
                    </div>               
                  </div>              
                </div>
              </div>

              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label">For Rent</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                      <div class="adderess"><i class="lni-map-marker"></i> Drive Street, Los Angeles, US</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,500</span>
                        </div>
                       <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                      </div>
                    </div>               
                  </div>              
                </div>
              </div>

              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-3.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-yellow">New</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title"><a href="property.html">Guaranteed modern home</a></h3>
                      <div class="adderess"><i class="lni-map-marker"></i> Avenue C, New York, US</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,750</span>
                        </div>
                       <p><span>8 bds</span> . <span>8 ba</span> . <span>3000 Sqft</span></p>
                      </div>
                    </div>               
                  </div>              
                </div>
              </div>

              <div class="property-main">
                <div class="property-wrap">
                  <div class="property-item">
                    <div class="item-thumb">
                      <a class="hover-effect" href="property.html">
                        <img class="img-fluid" src="assets/img/property/house-4.jpg" alt="">
                      </a>
                      <div class="label-inner">
                        <span class="label-status label bg-red">For Sale</span>
                      </div>
                    </div>
                    <div class="item-body">
                      <h3 class="property-title"><a href="property.html">Family home for sale</a></h3>
                      <div class="adderess"><i class="lni-map-marker"></i> Sacramento, Chicago, US</div>
                      <div class="pricin-list">
                        <div class="property-price">
                          <span>$1,400</span>
                        </div>
                       <p><span>2 bds</span> . <span>2 ba</span> . <span>2200 Sqft</span></p>
                      </div>
                    </div>               
                  </div>              
                </div>
              </div>
            </div>
            <!-- Listings End -->
            <div class="pagination-container">
              <nav>
                <ul class="pagination">
                  <li class="page-item"><a class="btn btn-common" href="#"><i class="lni-chevron-left"></i> Previous </a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="btn btn-common" href="#">Next <i class="lni-chevron-right"></i></a></li>
                </ul>
              </nav>
            </div>
            
          </div>

          <div class="col-lg-4 col-md-12 col-xs-12">
            <!-- Sidebar Start -->
            <div class="sidebar sticky right">
              <!-- Widget -->
              <div class="widget">
                <h3 class="sidebar-title">Find New Home</h3>
                <div class="row with-forms">
                  <div class="col-md-12">
                    <select class="classic">
                      <option>Any Status</option> 
                      <option>For Sale</option>
                      <option>For Rent</option>
                    </select>
                  </div>
                </div>
                <div class="row with-forms">
                  <div class="col-md-12">
                    <select class="classic">
                      <option>All Types</option>
                      <option>Apartments (3)</option>
                      <option>Houses (2)</option>
                      <option>Condos (1)</option>
                      <option>Industrial (2)</option>
                      <option>Land (3)</option>
                      <option>Offices (1)</option>
                      <option>Retail (2)</option>                              
                      <option>Villas (1)</option>
                    </select>
                  </div>
                </div>
                <div class="row with-forms">
                  <div class="col-md-12">
                    <select class="classic">
                      <option>All States</option> 
                      <option>Alabama</option>
                      <option>Arkansas</option>
                      <option>California</option>
                      <option>Colorado</option>
                      <option>Connecticut</option>
                      <option>Florida</option>
                      <option>Indiana</option>
                      <option>New York</option>
                      <option>Washington</option>
                      <option>West Virginia</option>
                      <option>Wisconsin</option>
                      <option>Wyoming</option>
                    </select>
                  </div>
                </div>
                <div class="row with-forms">
                  <div class="col-md-12">
                    <select class="classic">
                      <option>All Cities</option>
                      <option>New York</option>
                      <option>California</option>
                      <option>Washington</option>
                      <option>Chicago</option>
                      <option>Phoenix</option>
                      <option>Birmingham</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <select class="classic">
                      <option>Beds</option> 
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <select class="classic">
                      <option>Baths</option>  
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
                <!-- Area Range -->
                <div class="range-area">
                  <label>Area Range</label>
                  <div id="area-range">
                    <input type="text" class="form-control">
                    <span>sq ft  to</span>
                    <input type="text" class="form-control">
                    <span>sq ft</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- Price Range -->
                <div class="price-range">
                  <label>Price Range</label>
                  <div id="area-price">
                    <input type="text" class="form-control">
                    <span>sq ft  to</span>
                    <input type="text" class="form-control">
                    <span>sq ft</span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- More Search Options -->
                <div class="more-search-options">
                  <h3 class="sidebar-title">Additional Features</h3>
                  <!-- Checkboxes -->
                  <div class="checkboxes one-in-row">
                    <input id="check-2" type="checkbox" name="check">
                    <label for="check-2">Air Conditioning</label>
                    <input id="check-3" type="checkbox" name="check">
                    <label for="check-3">Swimming Pool</label>
                    <input id="check-4" type="checkbox" name="check">
                    <label for="check-4">Central Heating</label>
                    <input id="check-5" type="checkbox" name="check">
                    <label for="check-5">Laundry Room</label> 
                    <input id="check-6" type="checkbox" name="check">
                    <label for="check-6">Gym</label>
                    <input id="check-7" type="checkbox" name="check">
                    <label for="check-7">Alarm</label>
                    <input id="check-8" type="checkbox" name="check">
                    <label for="check-8">Window Covering</label>
                  </div>
                </div>
                <!-- More Search Options  End -->
                <button class="fullwidth btn btn-common">Search</button>
              </div>
              <!-- Widget End -->
            </div>
            <!-- Sidebar End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Main container End -->

    <!-- Footer Section Start -->
    <footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">About <span>Us</span></h3>
              <ul class="footer-link">
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Graphic Design</a></li>           
                <li><a href="#">Documentation</a></li>           
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Usefull<span> Links</span></h3>
              <ul class="footer-link">
                <li><a href="#">Bayonne, New York</a></li>
                <li><a href="#">Greenville, Chicago</a></li>
                <li><a href="#">The Heights, New Jersey</a></li>
                <li><a href="#">Bayonne, Washington DC</a></li>
                <li><a href="#">Greenville, San Francisco</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contact <span>Info</span></h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> York Blvd, Los Angeles, US<br> View, CA 94041USA</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> (518) 2014-040 43</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> hello@example.com</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Subscribe <span>on Our News</span></h3>
              <form method="post" id="subscribe-form" name="subscribe-form" class="validate">
                <div class="form-group is-empty">
                  <input type="email" value="" name="Email" class="form-control" id="EMAIL" placeholder="Email address" required="">
                  <button type="submit" name="subscribe" id="subscribes" class="btn btn-common sub-btn"><i class="lni-envelope"></i></button>
                  <div class="clearfix"></div>
                </div>
              </form>
              <div class="social-icon">
                <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
              </div>
            </div>
          </div>
        </div>  
      </div>     
    </footer> 
    <!-- Footer Section End -->

    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright © 2018 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
          </div>
        </div>
      </div>
    </section> 

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-chevron-up"></i>
    </a>
      
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/ion.rangeSlider.js"></script>
    <script src="assets/js/jquery.parallax.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM">
    </script>
    
  </body>
</html>
  
